<ion-header>
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin" lines="none" style="box-shadow: none;">
    <ion-list>
      <ion-item *ngFor="let h of history">
        <ion-label>
          <b>Tanggal    : {{h.tgl}}</b>
          <p>Jam Masuk  : {{h.waktu_masuk}}</p>
          <p>Jam Keluar : {{h.waktu_keluar}}</p>
          <p>Keterangan : {{h.status}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>