<ion-header>
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin" lines="none" style="box-shadow: none;">
    <ion-list>
      <ion-item *ngFor="history">
        <ion-label>
          <b>Senin</b>
          <p>Tanggal    : 17/05/2020</p>
          <p>Jam Masuk  : 08.00 WIB</p>
          <p>Jam Keluar : 16.00 WIB</p>
          <p>Keterangan : tidak ijin / ijin</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>